h1 {
    font-family: 'Major Mono Display', monospace;
    
}

h2 {
    font-family: 'Overlock SC', cursive;

}
    

.jumbotron {
    background-color: #FFD300;

}

.button {
    font-family: 'Overlock SC', cursive;
    

}

button.btn.btn-lg.btn-primary {
    background-color: #004B8D;
    
}
